# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/mfe-alcada/dist/
/mfe-alcada/node_modules/
/mfe-login/dist/
/mfe-login/node_modules/
/mfe-menu/dist/
/mfe-menu/node_modules/
/mfe-portal/dist/
/mfe-portal/node_modules/
/mfe-produto/dist/
/mfe-produto/node_modules/
